* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: url(./assets/background-games.jpg) #000000a4;
    background-blend-mode: multiply;
}